body{
    background-image: url(../img/fundo-de-aquarela-rosa-pintado-a-mao-detalhado_1048-17039.avif);
}



header{
    background: #f78fb3;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

main{
    padding: 1rem;
    text-align: center;
}

section{
    margin: 2rem 0;
}

footer{
    background: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1{
    text-align: center;

}

p{
    text-align: center;
}

ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

.quadrado{
    border: 1px solid black;
    width: 800px;
    height: 150px;
    position: relative;
    left: 30%;
}

.quadrado2{
    border: 1px solid black;
    width: 800px;
    height: 150px;
    position: relative;
    left: 30%;
}

:root {
    --primary-color: #ff69b4;
    --secondary-color: #f8bbd0;
  }

  
